* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    background-color:hsl(235, 16%, 14%);
    color: hsl(0, 0%, 100%);
}

body {
    width: 1440px;
    height:100vh;
    margin: auto;
} 

.content {
    position: relative;
}


#stars {
    position: absolute;
    width: 100%;
    height:100vh;
}

#hill {
    position: absolute;
    width: 100%;
    top: 375px;
    left: 0;
    right: 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    position: absolute;
    top: 100px;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-frame {
    display: flex;
    position: absolute;
    top: 250px;
}

.time-frame div {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: hsl(236, 21%, 26%);
}

.time-frame::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: hsl(235, 16%, 14%);
    top: 50%;
    left: 0;
    opacity: 0.2;
}

.time-frame div:not(:last-of-type) {
    margin-right: 15px;
}

#right {
    width: 8px;
    height: 8px;
    color: hsl(235, 16%, 14%);
    position: absolute;
    top: 47%;
    right: -5px;
    border-radius: 50%;

}

#left {
    width: 8px;
    height: 8px;
    color: hsl(235, 16%, 14%);
    position: absolute;
    top: 47%;
    left: -5px;
    border-radius: 50%;
}

#tags {
    position: absolute;
    top: 120%;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

#tags:nth-of-type(1) {
    left: 10px;
}



.time-frame div h1 {
    background-color: inherit;
    color: hsl(345, 95%, 68%);
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}

.footer {
    position: absolute;
    top: 30em;
    left: 45%;
    z-index: 1000;
    background: none;
}

.footer svg {
    margin-bottom: 20px;
    align-items: center;
    margin-left: 15px;
}


.footer svg:not(:last-of-type) {
    margin-right:20px;
}


.footer .attribution {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer svg path:hover {
   fill: hsl(345, 95%, 68%) ; 
   cursor: pointer;
}

@media (max-width:375px) {
    body {
        width: 375px;
        height: 100%;
    } 

    #hill {
        top: 385px;
    }

    .footer {
        top: 30em;
        left: 30%;
        z-index: 1000;
        background: none;
    }
    


}


